absl-py==0.7.1
astor==0.8.0
cloudpickle==1.2.1
future==0.17.1
gast==0.2.2
google-pasta==0.1.7
graphviz==0.11.1
grpcio==1.22.0
gym==0.14.0
h5py==2.9.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
numpy==1.17.0
protobuf==3.9.1
pyglet==1.4.2
scipy==1.3.1
six==1.12.0
tb-nightly==1.14.0a20190603
tensorflow==2.0.0b1
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019060501
toposort==1.5
Werkzeug==0.15.5
wrapt==1.11.2
