# Test configuration for examples in the early alpha stage of development of the Tensorflow-Neuroevolution framework


[ENCODING]
check_genome_sanity     = True


[NE_ALGORITHM]
replacement_percentage  = 0.4
default_activation      = tanh
out_activation          = sigmoid


[POPULATION]
pop_size                = 10
limited_pop_size        = True


[ENVIRONMENT]
input_shape             = (2,)
num_output              = 1
learning_rate           = 0.2
epochs                  = 100


[EVOLUTION_ENGINE]
max_generations         = 10
fitness_threshold       = 100.0
